<form method="post" action ="/profile/upload-avtar" enctype="multipart/form-data">

    <input type="file" name="avtar" placeholder="Upload a file" />
    <button type="submit">Submit</button>
</form>